extends layout

block sidebar
    ul(class='sidebar-nav')
        li
            a(href='/') Home
        li
            a(href='/clients/create') Create clients
        li
            a(href='/clients/update') Update cooks
        li
            a(href='/clients/delete') Delete orders

block content
    h2= message
    ul
        each el, index in val
            li= index + ': ' + el.name