extends layout

block sidebar
    ul(class='sidebar-nav')
        li
            a(href='/') Home
        li
            a(href='/clients/create') Create clients


block content
    h2= message
    ul
        each el in val
            a(href='/clients/' + el.idclient)
                li= el.idclient + ': ' + el.name