extends layout

block content
    h2= message
    form(method='GET' action='/neworder')
        div.form-group
            label(for='name') Make a new order:
            br
            input(type='submit', value='do it')