body {
  // background-color: #f0f8ff;


  .generalWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 400px;
    // align-items: start;
    max-width: inherit;
    width: 70%;
    margin: auto;

    .text {
        margin: 10px 50px;
    }

    .headWrap {
      display: grid;
      grid-column: 1 / 4;
      grid-row: 1 / 2;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 1fr 2fr;
      justify-items: center;
      border: 1px solid black;

      .orderCountWrap {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: 100%;
        //border: 1px solid black;
      }

      .cookCountWrap {
        grid-row: 1 / 2;
        grid-column: 3 / 4;
        width: 100%;
        //border: 1px solid black;
      }

      .cookScreen {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
        width: 100%;
        border: 3px solid red;
        display: flex;

        .cookNotWorksIcon {
          width: 50px;
          height: 50px;
          margin: 0 5px;
          background-image: url(../img/cookNoFill.png);
        }

        .cookWorksIcon {
          width: 50px;
          height: 50px;
          margin: 0 5px;
          background-image: url(../img/cookFill.png);
        }
      }

      .button {
        margin: 5px;
      }

      .addCookBtn {
        grid-row: 2 / 3;
        grid-column: 3 / 4;
        width: 50px;
      }

      .deleteCookBtn {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        width: 50px;
      }
    }

    .mainWrap {
      display: grid;
      grid-column: 1 / 4;
      grid-row: 2 / 3;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center;

      .label {
        text-align: center;
      }

      .queueWrap {
        grid-column: 1 / 2;
        width: 100%;
        border: 1px solid black;
      }

      .processWrap {
          grid-column: 2 / 3;
          width: 100%;
          border: 1px solid black;
      }

      .readyOrderWrap {
          grid-column: 3 / 4;
          width: 100%;
          border: 1px solid black;
      }
    }
  }
}
